@import url(./fonts.css);

#root {
  max-width: 1470px;
  margin: 0 auto;
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Source Sans Pro";
  font-size: 16px;
}

#root > *:first-child {
  flex: 0 0 28%;
}

#root > *:last-child {
  flex: 0 0 72%;
}

@media (max-width: 992px) {
  #root {
    flex-direction: column;
  }
  
  #root > *:first-child {
    flex: 0 0 100%;
  }

  #root > *:last-child {
    flex: 0 0 100%;
  }
}

* {
  margin: 0;
  padding: 0;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  visibility: hidden;
}